<div class="aside-nav">
    <div class="sidenav-group">
        <div class="invite-user">
            <a href="" class="invite-btn" ng-click="ctrl.inviteUser()">
                <span class="icon ion-person-add"></span>
                Invite User
            </a>
        </div>
        <hr>
        <div class="nav-wrapper is-main">
            <ul>
                <li class="active">
                    <a href="" ui-sref="projects">Projects</a>
                </li>
            </ul>
        </div>
        <div class="nav-wrapper is-bottom">
            <div class="sidenav-collapse" id="nav-collapse">
                <div class="sidenav-header">
                    <button class="btn-toggle" ng-click="ctrl.toggle()">
                    <span class="inner-content profile-photo">
                        <div>
                            <img src="{{ ctrl.user.profile_photo }}">
                        </div>
                    </span>
                    <span class="inner-content label">{{ ctrl.user.email }}</span>
                    <span class="inner-content arrow icon ion-chevron-down"></span>
                    </button>
                </div>
                <div class="sidenav-body">
                    <ul>
                        <li><a href="" ui-sref="teams">Account Settings</a></li>
                        <li><a href="" ng-click="ctrl.logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal templates -->
<script type="text/ng-template" id="invite.html">
    <div class="modal-header">
        <button type="button" class="close" ng-disabled="ctrl.loading" ng-click="ctrl.cancel()">&times;</button>
        <h3 class="modal-title text-center" id="modal-title">Invite New User</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="invitationForm" novalidate>
            <div class="form-group">
                <input type="email" name="email" 
                    ng-model="form.email" 
                    class="form-control input-lg" 
                    placeholder="Email" 
                    ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
                    ng-class="{'input-error': invitationForm.email.$dirty && invitationForm.email.$error.pattern || ctrl.error_msg}"
                    ng-change="ctrl.change()"
                    id="email" 
                    required
                    >
                <span class="text-danger" ng-show="ctrl.error_msg">
                    {{ ctrl.error_msg }}
                </span>
                <span class="text-danger" 
                    ng-show="invitationForm.email.$dirty && invitationForm.email.$error.pattern">
                    Not a valid email format
                </span>
            </div>
            <div class="form-group">
                <select name="position" ng-model="form.position" class="form-control input-lg" required>
                    <option ng-selected="selected" value="">Select Position</option>
                    <option value="developer">Developer</option>
                    <option value="designer">Designer</option>
                    <option value="management">Management</option>
                </select>
            </div>
            
            <button class="btn btn-lg btn-primary btn-full-width" ng-disabled="invitationForm.$invalid || ctrl.loading" type="button" ng-click="ctrl.save(form)">Save</button>
        </form>
    </div>

</script>
