<div class="main-wrapper">

    <div class="header-wrapper">
        <div class="header-content">
          <span class="page-title"><h1>Projects</h1></span>
          <span class="button">
            <a href="" ng-click="ctrl.addProject()" class="btn btn-primary">
              Create New Project
            </a>
          </span>
        </div>
    </div>

    <div class="projects-content">
        <div class="projects-list">
            <div class="group">
                <div class="item" id="collapse-{{ project.id }}" ng-repeat="project in ctrl.AuthService.projects">
                    <div class="item-info">
                        <span class="item-icon icon ion-briefcase"></span>
                        <div class="project-title-wrapper">
                            <div class="project-title">
                            <h3>{{ project.name }}</h3>
                            </div>
                            <div class="project-info">
                                <span class="project-date">Created: {{ project.date_created }}</span>
                                <span class="divider">|</span>
                                <span class="project-company">Owner: {{ project.owner_data.first_name }}  {{ project.owner_data.last_name }}</span>
                            </div>
                        </div>
                        <div class="action-button">
                            <a href="" ng-click="ctrl.addMember(project)">
                              <span class="icon ion-person-add"></span>
                            </a>
                        </div>

                        <div>
                            <a href="" class="btn-toggle" ng-click="ctrl.toggle(project.id)">
                              <span class="inner-content arrow icon ion-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="log-info">
                            <table class="table table-hover table-bordred table-striped">
                              <thead>
                                <tr>
                                  <th>Member</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="member in project.members">
                                  <td>
                                    <span class="profile-photo">
                                      <img src="{{ member.profile_photo }}">
                                    </span>
                                    <span>{{ member.email }}</span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- modal templates -->
<script type="text/ng-template" id="addMember.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.cancel()">&times;</button>
        <h3 class="modal-title text-center" id="modal-title">Add New Member</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="addMemberForm" class="member-form" novalidate>
          
          <multiple-autocomplete ng-model="users" object-property="email" 
              suggestions-arr="ctrl.users">
          </multiple-autocomplete>
          
          <button class="btn btn-lg btn-primary btn-full-width" ng-disabled="users.length == 0" ng-click="ctrl.save(users)">Add Member</button>
        </form>
    </div>
</script>

<!-- modal templates -->
<script type="text/ng-template" id="addProject.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.cancel()">&times;</button>
        <h3 class="modal-title text-center" id="modal-title">Create New Project</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="addProjectForm" novalidate>
          <div class="form-group">
              <input type="text" name="name" id="name" class="form-control input-lg" ng-class="{'input-error': ctrl.error_msg}" ng-change="ctrl.change()" placeholder="Project name" ng-model="form.name" required>
              <span class="text-danger" ng-show="ctrl.error_msg">{{ ctrl.error_msg }}</span>
          </div>
          <button class="btn btn-lg btn-primary btn-full-width" ng-disabled="addProjectForm.$invalid" ng-click="ctrl.save(form)">Create Project</button>
        </form>
    </div>
</script>