<div class="main-wrapper" ng-class="{'no-sidebar' : ctrl.currentView }">
    <div class="login-page">
        <form name="loginForm" ng-submit="ctrl.login(form)" novalidate>
            <h2 class="text-center">SwiftTracker</h2>
            <p class="text-danger text-center" ng-show="ctrl.error_msg">{{ ctrl.error_msg }}</p>
            <div class="form-group">
                <input type="email" name="email" 
                    ng-model="form.email" 
                    placeholder="Email" 
                    ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
                    ng-class="{'input-error': loginForm.email.$dirty && loginForm.email.$error.pattern }" 
                    ng-change="ctrl.change()"
                    required>
                    <span class="text-danger" ng-show="loginForm.email.$dirty && loginForm.email.$error.pattern">Not a valid email format</span>
            </div>
            <div class="form-group">
                <input type="password" name="password" ng-model="form.password" class="form-control input-lg" ng-change="ctrl.change()" placeholder="Password" required>
            </div>
            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary btn-full-width">Login</button>
        </form>
    </div>
</div>
