<div class="main-wrapper" ng-class="{'no-sidebar' : ctrl.currentView }">
    <div class="signup-page">
        <form name="signupForm" ng-submit="ctrl.signUp(form)" novalidate>
            <h2 class="text-center">Register</h2>
            <p ng-show="ctrl.error_msg.non_field_errors" class="text-center text-danger">Ooops, Invalid invitation key!</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="firstname" ng-model="form.first_name" placeholder="First Name" required>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="lastname" ng-model="form.last_name" placeholder="Last Name" required>
                    </div>
                </div>
            </div>

            <span class="text-danger" ng-show="ctrl.error_msg.birthday">{{ ctrl.error.birthday[0] }}</span>
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <select name="gender" ng-model="form.gender" required>
                        <option ng-selected="selected" value="">Select Gender</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group"
                         moment-picker="form.birthday"
                         format="YYYY-MM-DD">
                        </span>
                        <input 
                           placeholder="Birthday"
                           ng-model="form.birthday"
                           ng-model-options="{ updateOn: 'blur' }" required>
                    </div>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" name="password" ng-model="form.password" placeholder="Password" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" name="confirm_password" 
                            ng-model="form.confirm_password" 
                            ng-pattern="form.password" 
                            placeholder="Confirm Password" 
                            ng-class="{'input-error': signupForm.confirm_password.$error.pattern }"
                            required>
                        <span class="text-danger" ng-show="signupForm.confirm_password.$error.pattern">Password did not match!</span>
                    </div>
                </div>
            </div>
            <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-primary btn-full-width">Submit</button>
        </form>
    </div>
</div>