

<form name="signupForm" ng-submit="ctrl.signUp(form)" novalidate>
    <span ng-show="ctrl.error_msg">Invalid invitation key</span>
    <div class="form-group">
        <input type="text" name="firstname" ng-model="form.first_name" class="form-control" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <input type="text" name="lastname" ng-model="form.last_name" class="form-control" placeholder="Last Name" required>
    </div>
    <div class="form-group">
        <select name="gender" ng-model="form.gender" class="form-control" required>
            <option ng-selected="selected" value="">Select Gender</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
        </select>
    </div>

    <div class="form-group">
        <div class="input-group"
             moment-picker="form.birthday"
             format="YYYY-MM-DD">
            <span class="input-group-addon">
                <i class="icon ion-calendar"></i>
            </span>
            <input class="form-control"
                   placeholder="Birthday"
                   ng-model="form.birthday"
                   ng-model-options="{ updateOn: 'blur' }" required>
        </div>
    </div>


    <div class="form-group">
        <input type="password" name="password" ng-model="form.password" class="form-control" placeholder="Password" required>
    </div>

    <div class="form-group">
        <span class="text-danger" ng-show="signupForm.confirm_password.$error.pattern">Password Did Not Match</span>
        <input type="password" name="confirm_password" 
            ng-model="form.confirm_password" 
            ng-pattern="form.password" 
            class="form-control" 
            placeholder="Confirm Password" 
            required>
    </div>
    <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-default">Sign Up</button>
</form>