

.app {
    height: 100vh;
    overflow-y: auto;
    margin-left: 260px;
    .app-aside {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;
        display: flex;
        z-index: 600;
        .aside-nav {
            background: #3863a3;
            display: flex;
            flex-direction: column;
            width: 260px;
            padding: 25px 25px 0;
            position: relative;
            .sidenav-group {
                flex-direction: column;
                flex-grow: 1;
                display: flex;
                padding: 0 0 25px;
                margin: 0 -25px;
                overflow-y: auto;
                overflow-x: hidden;
                .nav-wrapper {
                    display: block;
                    flex-shrink: 0;
                    &.is-main {
                        flex-grow: 1;
                    }
                    .sidenav-collapse {
                        transition: background .15s ease-in,box-shadow .15s ease-in;
                        &.is-open {
                            background: #2f5489;
                            .sidenav-body {
                                max-height: 230px;
                                opacity: 1;
                            }
                        }
                        .sidenav-header {
                            .btn-toggle {
                                position: relative;
                                color: #88b4df;
                                margin: 0 0 10px;
                                padding: 5px 20px;
                                transition: background .15s ease-in,box-shadow .1s ease-out;
                                box-shadow: inset 0 0 0 0 #35bf8a;
                                width: 100%;
                                table-layout: fixed;
                                display: table;
                                .inner-content {
                                    height: 40px;
                                    vertical-align: middle;
                                    display: table-cell;
                                    &.profile-photo {
                                        position: relative;
                                        border-radius: 50%;
                                        transition: background .175s ease-in,border .175s ease-in;
                                        margin-right: 15px;
                                        div {
                                            display: inline-block;
                                            img {
                                                width: 40px;
                                                border-radius: 50%;
                                            }
                                        }
                                        
                                    }
                                    &.label {
                                        width: 160px;
                                        font-size: 13px;
                                        padding: 0 5px 0 15px;
                                        transition: color .175s ease-in;
                                        color: #88b4df;
                                        text-align: left;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                    }
                                    &.arrow {
                                        width: 15px;
                                    }
                                }
                            }
                        }
                        .sidenav-body {
                            transition: max-height .3s ease-out,padding .3s ease-out,margin-bottom .3s ease-out,opacity .3s ease-out;
                            overflow: hidden;
                            margin-top: 10px;
                            max-height: 0;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
    .app-main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}


.main-wrapper {
    padding: 10px 50px;
    .header-wrapper {
        min-height: 40px;
        margin-bottom: 80px;
    }
    .projects-content {
        .group {
            .item {
                text-decoration: none;
                display: block;
                color: #222425;
                border-bottom: 2px solid rgba(193,201,209,.5);
                &:first-child {
                    border-top: 2px solid rgba(193,201,209,.5);
                }
                .item-info {
                    display: flex;
                    padding: 20px 22px;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    transition: background .10s ease-in,box-shadow .10s ease-in;
                    .item-icon {
                        flex-basis: 40px;
                        max-width: 40px;
                        display: flex;
                        width: 40px;
                        height: 40px;
                        margin: 0 15px 0 0;
                        align-items: center;
                        justify-content: center;
                        background: #c2c7cd;
                        border-radius: 50%;
                    }
                    .project-title-wrapper {
                        max-width: calc(100% - 50px);
                        flex-basis: calc(100% - 50px);
                        .project-title {
                            h3 {
                                margin: 0;
                                font-size: 18px;
                            }
                        }
                    }
                }
                &.is-open {
                    .item-info {
                        background: #ededed;
                    }
                    .item-content {
                        display: block;
                        background-color: #f5f5f5;
                    }
                }
                .item-content {
                    display: none;
                    overflow: auto;
                    .log-info {
                        .table {
                            tbody {
                                tr {
                                    width: 100%;
                                    background: #fbfbfb;
                                    &:hover {
                                     background: #eee;   
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}