<div class="aside-nav">
    <div class="sidenav-group">

        <div class="nav-wrapper is-main">
        <ul>
            <li class="active">
                <a href="" ui-sref="dashboard">Projects</a>
            </li>
            <li>
                <a href="" ui-sref="tracker">Tracker</a>
            </li>
        </ul>
        </div>

        <div class="nav-wrapper is-bottom">
            <div class="sidenav-collapse" id="nav-collapse">
                <div class="sidenav-header">
                    <button class="btn-toggle" ng-click="ctrl.toggle()">
                    <span class="inner-content profile-photo">
                        <div>
                            <img src="{{ ctrl.user.profile_photo }}">
                        </div>
                    </span>
                    <span class="inner-content label">{{ ctrl.user.first_name }}</span>
                    <span class="inner-content arrow icon ion-chevron-down"></span>
                    </button>
                </div>
                <div class="sidenav-body">
                    <ul>
                        <li><a href="" ng-click="">Account settings</a></li>
                        <li><a href="" ng-click="ctrl.logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
