<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div style="
    width: 100%; 
    height: 100%; 
    background-color: #ededed; 
    padding-top: 50px; 
    padding-bottom: 50px;">
    <div style="width: 45%; 
        height: 100%; 
        background-color: #ffffff; 
        margin-left: auto; 
        margin-right: auto; 
        padding-top: 50px; 
        padding-bottom: 60px; 
        padding-right: 60px; 
        padding-left: 60px;">

        <h2 style="
            font-size: 24px;  
            font-weight: 600;  
            line-height: 1;  
            text-align: center;  
            color: #636363;"
        >SwiftTracker</h2>
        
        <p style="
            font-size: 16px;  
            line-height: 1.5;  
            text-align: left;  
            color: #7d7d7d;
            margin-top: 50px;"> Hi, sir or madam!
        </p>

        <p style="
            text-align: 
            justify; font-size: 16px;  
            line-height: 1.5;  
            color: #7d7d7d;"> You have been invited to join the SwiftTracker by <span style="text-transform: capitalize;">{{ admin }}</span>.
        </p>
        <p style="
            text-align: 
            justify; font-size: 16px;  
            line-height: 1.5;  
            color: #7d7d7d;"> You can accept the invitation by clicking below:
        </p>

        <a href="{{ signup_link }}" 
            style="width: 100%;
                background-color: #00c185;
                color: #fff;
                text-decoration: none;
                display: block;
                text-align: center;
                line-height: 80px;
                font-size: 18px;
                border-radius: 3px;">Signup Now
        </a>
        
        <div style="margin-top: 75px;">
            <p style="
                font-size: 16px;
                line-height: 1.5;  
                text-align: left;  
                color: #7d7d7d;"> Thanks,
            </p>
            <p style="
                font-size: 16px; 
                line-height: 1.5;  
                text-align: left;">
                The Swiftkind Team.
            </p>
        </div>
    </div>
</div>
</body>
</html>